@charset "UTF-8";

* {
	margin:0;
	padding:0;
}

header {
	padding:10px;
}
nav > ul {
	overflow:hidden;
	list-style:none;
	border-top:1px solid #aaa;
}

nav>ul>li {
	float:left;
	width:150px;
	text-align:center;
	height:35px;
	line-height:35px;
}

#content {
	padding:20px;
}


a {
	text-decoration: none;
	color:#333;
}
a:hover {
	text-decoration:underline;
}


a:visited {
	color:#333;
}

hr {
	border:0;
	border-top:1px solid #ccc;
	margin:20px 0;
}

td {
	padding:5px;
}
